.modal-header
    h3 Sign In
    .modal-body
        .row-fluid
            .span3 Email address:
            .span3
                input(type="email", name="email", ng-model="email")
        .row-fluid
            .span3 Password:
            .span3
                input(type="password", name="password", ng-model="password")
    .modal-footer
        .row
            button.btn(ng-click="close(false)") Close
            button.btn.btn-primary(ng-click="signIn()") Sign In