.row-fluid(style="text-align:center;")
    .row-fluid
        h2 Choose Chapter and Problem
    .row-fluid
        select(name="chapter", id="chapter")
            option(value="") Choose a chapter...
            option(ng-repeat="assignment in assignments", value="{{ assignment.id }}") {{ assignment.name }}
    .row-fluid
        select(name="problem", id="problem")
            option(value="") Choose a problem...
            option(ng-repeat="problem in problems", value="{{ problem.id }}") {{ problem.name }}
    .row-fluid(style="text-align:center")
        button(id="Save", name="Save", valid-button, style="margin-right:10px;") Save 
        a(id="Post", name="Post", href="{{ selectedAssignment | activeURL }}", style="margin-left:10px;", target="_blank") Post
    .row-fluid(style="text-align:center;", id="feedback")
