submissions
node_modules
node_modules/*
node_modules/**/*
plc.sublime-project
plc.sublime-workspace
node_modules/.bin/*
node_modules/angular/*
plc.sublime-project
plc.sublime-workspace
*.sh
*.exe
*.cpp
*.txt
Procfile
Homework
Homework/*
.sass-cache
.grunt
karma.conf.js
Gruntfile.js
submissions.zip
*.zip
trial
scripts.coffee
./grade.coffee
run.coffee
rename.coffee
*.log
.bashrc
contributions
components
